.selectCreateOrJoin {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.createTabBtn,
.joinTabBtn {
  width: 50%;
  height: 75px;
  color: black;
}

.createTabBtn {
  background-color: #7ee8fa;
  background: linear-gradient(to right, rgb(126, 232, 250), rgb(182, 212, 224));
}

.joinTabBtn {
  background-color: #eec0c6;
  background: linear-gradient(to right, rgb(182, 212, 224), rgb(238, 192, 198));
}

.createTabBtn.select,
.joinTabBtn.select {
  background: none;
  background-color: black;
}

.createTabBtn.select {
  color: #7ee8fa;
  box-shadow: inset 0 0 0 3px black, inset 0 0 0 5px #7ee8fa;
}

.joinTabBtn.select {
  color: #eec0c6;
  box-shadow: inset 0 0 0 3px black, inset 0 0 0 5px #eec0c6;
}
