.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  background: linear-gradient(to right, #7ee8fa, #eec0c6);
}

.container {
  width: 600px;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.errorCode {
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  .container {
    width: 100vw;
  }
}
